{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Welcome - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/" />
	<link rel="alternate"  type="text/calendar" title="{{ currentSite.title | escape('html_attr') }}" href="/api1/events.ical" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{# no breadcrumbs on front page. Ppl know where they are. Apparently it confuses ppl #}
{% endblock %}


{% block content %}

	<div id="innerPageWrapper">
		<div id="innerPage">

			{%  include 'introHeader.html.twig' %}

			{% if events|length > 0 %}
				<ul class="frontPageListEvents">
				{%  set date = '' %}
				{% for event in events %}
					{%  if event.getStartAt|tolocaltimeformatted('j M', currentTimeZone) != date %}
						{%  set date = event.getStartAt|tolocaltimeformatted('j M', currentTimeZone) %}
						<li class="date">{{ event.getStartAt|tolocaltimeformatted('D jS M', currentTimeZone) }}</li>
					{%  endif %}
					<li class="event">
						{% if event.isPhysical and  event.area  %}
							<span class="where"><a href="/area/{{  event.area.slugForURL }}">{{ event.area.title }}</a></span>
						{% else %}
							<span class="where">&nbsp;</span>
						{% endif %}
						<a href="/event/{{ event.slugForURL }}">{{  event.summary }}</a>
					</li>
				{% endfor %}
				</ul>
			{%  endif %}

		</div>
	</div>

{% endblock %}

{% block scriptsForState %}
	<script type="text/javascript">var exportData = {}</script>
{% endblock %}

	
{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}



