{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}


{% block pageTitle %}Terms - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/terms" />
{% endblock %}

{% block content %}



	<h2>Terms and conditions</h2>

	<p>The Terms and the Policy may be revised from time to time and the latest version of each will be posted on
		these pages. Whilst reasonable efforts will be made to notify you of major revisions, you should check back
		here periodically, as your continued use of the site constitutes your acceptance of the up to date version of
		these Terms.</p>

	<p>You must be at least 16 years old to use this site, and you are solely responsible for any activity that is
		conducted under your screen name.</p>

	<h3>Event Data</h3>

	<p>You warrant that any event or group data you post or contribute to the site {{ config.siteTitle }} is information that can
		be freely distributed in the public domain, now and in the future.
		{{ config.siteTitle }} shall not be required to attribute authorship to you in relation to such content.
		{{ config.siteTitle }} may make all event or group data explicitly available to others to use freely without limitation.</p>

	<h3>Other User-generated content (not event & group data)</h3>

	<p>By posting or contributing content to the site you grant {{ config.siteTitle }} a non-exclusive transferable permanent
		free licence to use, reproduce, publish and adapt such content on a worldwide basis, in any medium, and for
		any purpose reasonably necessary for the Service.
		This license is solely to enable us to technically administer, display, and operate the Services.
		{{ config.siteTitle }} shall not be required to attribute authorship to you in relation to such content.
		You warrant that you own and control all the right to the content that you post, that it is accurate and not
		misleading, and that the posting does not contravene any of these site Terms. If you cease using {{ config.siteTitle }},
		{{ config.siteTitle }}’s licence to use your content persists. </p>

	<p>You may not modify, copy, publish, display, transmit, adapt or in any way exploit the other user-generated content of {{ config.siteTitle }}.</p>


	<h3>Third Party Copyright Owners</h3>

	<p>Anyone who believes their copyright or other intellectual property has been posted on {{ config.siteTitle }} without the
		proper permission should please <a href="/contact">write to us</a> at {{ config.contactEmailHTML }}, including as
		much information as possible to assist us in dealing with your claim.</p>

	<h3>Ownership, Copyright & Trademarks</h3>

	<p>All text, images, logos, graphics, sound files, data and any other content contained in the design and operation of the site and the
		selection and arrangement thereof are owned by {{ config.siteTitle }} under UK copyright law.</p>

	<p>Reference to any other product or service by name or otherwise does not constitute or imply any endorsement
		of that product or service.</p>

	<h3>Limited Licence</h3>

	<p>If pages on other sites refer to or incorporate data from {{ config.siteTitle }}, a link back to
		{{ config.siteTitle }} would be appreciated.</p>

	<p>Your use of the site must not infringe the rights of any third party and must be in accordance with law. You
		indemnify {{ config.siteTitle }} against any liability arising to any third party in breach of this condition.</p>

	<p>Our prior permission is required to use the {{ config.siteTitle }} logo or to frame any page on {{ config.siteTitle }}
		within any third party site.</p>

	<p>We include links on {{ config.siteTitle }} to third-party sites and services, such as but not limited to groups that hold events,
		and we accept no responsibility for the quality, content, or any other matter in connection with these.</p>

	<p>If you use any parts of the site where you can engage with and respond to other uses, you are solely
		responsible for your use of these areas and do so at your own risk.
		You must not post or upload any information or content that is unlawful, defamatory, pornographic, infringes
		the rights of third parties such as intellectual property rights or is otherwise objectionable. {{ config.siteTitle }}
		reserves the right to screen all contributions and not all content posted may be displayed or used on the
		site. {{ config.siteTitle }} may de-register or block users whose use of the site breaches any of these conditions.</p>

	<h3>Availability of {{ config.siteTitle }}</h3>

	<p>We reserve the right to modify, suspend or terminate the {{ config.siteTitle }} service at any time.</p>

	<h3>Registration Data</h3>

	<p>You agree that the data you provide will be accurate, current and complete and to maintain the
		security of your password.</p>

	<h3>Warranty Disclaimer</h3>

	<p>{{ config.siteTitle }} makes no warranties express or implied as to the information and content displayed on
		the site.</p>

	<h3>Limitation of Liability</h3>

	<p>By using the site you waive any claims against {{ config.siteTitle }} such as but not limited to arising from any
		alleged inaccuracies, and you use the site always at your own risk. In any event the total liability of
		{{ config.siteTitle }} to you shall not exceed the consideration, if any, paid to {{ config.siteTitle }} to access or use the site.</p>

	<p>Under no circumstances, including but not limited to negligence, will {{ config.siteTitle }} be liable for any special
		or consequential damages that result from the use of, or the inability to use, the materials on this site.</p>

	<p>Under no circumstances will {{ config.siteTitle }} be held responsible or liable, directly or indirectly, for any loss
		or damage that is caused or alleged to have been caused to you in connection with your use of, or reliance
		on, any content, goods or services available on any other site.</p>

	<p>{{ config.siteTitle }} does not make any warranties concerning any people or events, by any person following the
		information offered or provided within {{ config.siteTitle }}. Neither we nor our partners, or any of their affiliates,
		will be liable for any direct, indirect, consequential, special, exemplary or other damages that may result,
		including but not limited to economic loss, injury, illness or death.</p>

	<h3>Severability</h3>

	<p>If any part of these Terms shall be determined unenforceable, such other parts that remain shall be
		unaffected and remain in force.</p>

	<h3>Contact</h3>

	<p>If you have a proposal to use the site or it's content outside these licence terms or to clarify any points in these terms <a href="/contact">please contact</a>
		{{ config.contactEmailHTML }}.</p>


{% endblock %}
